* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 86pt;
}

.fondo {
    background-color: #28A745;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(100%);
}

.nav-link {
    margin-left: 5px;
    font-size: 12pt;
}

.card-title {
    font-weight: 300;
    color: #212529;
    font-size: 18pt;
    margin-bottom: 20pt;
}

.card-text {
    font-weight: 300;
    color: #707070;
    font-size: 14pt;
}

p {
    margin-bottom: 0!important;
}

.card-direcc {
    font-weight: 300;
    color: #707070;
    font-size: 11pt;
}

.card-footer {
    text-align: right;
}

.precio {
    font-weight: 300;
    color: #707070;
    font-size: 12pt;
}

.oferta {
    font-weight: 500;
    color: #28A745;
    font-size: 16pt;
    margin-left: 10pt;
}

.secform {
    justify-content: center;
}

.formulario {
    justify-content: center;
    background-color: #28A745;
    padding: 5%;
    margin-top: 50pt;
    width: 50%;
}

.tituloform {
    font-weight: 500;
    font-size: 21pt;
    text-align: center;
    color: white;
    margin-bottom: 20pt;
}

.detallform {
    font-weight: 300;
    font-size: 16pt;
    color: #707070;
}

.botonform {
    background-color: white;
    border: 1pt #DDDDDD solid;
    border-radius: 4pt;
    color: #212529
}

footer {
    justify-content: center;
    text-align: center;
    font-size: 10pt;
    color: #707070;
}

footer img {
    width: 82pt;
}

footer p {
    font-size: 16pt;
}

@media (max-width: 768px) {
    .tituloform {
        font-weight: 500;
        font-size: 18pt;
    }
}

@media (max-width: 425px) {
    .formulario {
        width: 80%;
    }
}